body{
background-color: rgb(8, 3, 54);
color: white;
font-size: 16px;
background-image: url("https://m.media-amazon.com/images/I/61mCRtz5u2L._AC_UF894,1000_QL80_.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.common{
border: 2px solid white;
position: absolute;
}

.nav{
    position: relative;
    float: right
}

.header{
    top: 10px;
    left: 0 px;
    right: 0px;
}

.content{
    top: 90px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.footer{
bottom: 0px;
left: 0px;
right: 0px;
background-color: rgba(125,159,159,0.5);
}